<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>vue-boolzapp</title>
</head>
<body>
    <div id="app">
        <header>

        </header>

        <main>
            <div id="main-container-content" class="">

                <!-- CONTENT LEFT  -->
                <div class="content-left">
                    <div class="header-content-left">
                        <div class="header-content-left-image">
                            <img src="img/avatar_io.jpg" alt="">
                            <div class="profile-name">Sonia</div>
                        </div>
                        <div class="icon-header">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- MAIN CONTENT LEFT -->
                    <div class="main-content-left">
                        <div class="main-nav-content">

                            <!-- NAV TOP -->
                            <div class="nav-top padding-lateral">
                                <div class="icon-container padding-lateral">
                                    <div class="icon">
                                        <i class="fa-solid fa-bell-slash"></i>
                                    </div>
                                </div>
                                <div class="text">
                                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                                <!-- NAV DOWN  -->
                            </div>
                            <div class="nav-down">
                                <div class="input-left">
                                    <div class="input-left-content">
                                        <input type="text">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                </div>
                                <div class="input-right">
                                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                                </div>
                            </div>
                        </div>

                        <!-- WRAPPER CONTACTS -->
                        <div class="main-wrapper-content">
                            <!-- template statico -->
                            <div class="contacts">

                                <div v-for="(contact,index) in contacts" class="item-contact padding-lateral" :key="index" :class="{'active': currentIndex === index}" @click="selectChat(index)">
                                    <div class="item-image">
                                        <img :src="'img/avatar'+ contact.avatar +'.jpg'" alt="">
                                    </div>
                                    <div class="item-profile">
                                        <div class="profile-name">
                                            <h3>{{contact.name}}</h3>
                                        </div>
                                        <div class="profile-message">
                                            <span>Ultimo messaggio inviato</span>
                                        </div>
                                    </div>
                                    <div class="profile-time">
                                        12.00
                                    </div>
                                </div>             
                            </div>  
                        </div>
                    </div>                     
                </div>
                <!-- //CONTENT LEFT //-->


                            <!-- CONTENT RIGHT -->
                <div class="content-right" style="border-left: 1px solid grey;">
                    <div class="header-content-right">
                        <div class="header-content-right-image">
                            <img src="img/avatar_1.jpg" alt="">
                            <div class="profile-name">
                                <div class="name">Sonia</div>
                                <div class="ultimo-accesso">
                                    <span>ultimo accesso oggi alle 12.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="icon-header">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <!-- MAIN CONTENT MESSAGE -->
                    <div class="main-content-right">
                            <div class="messaggio" v-for="(item, index) in contacts[currentIndex].messages" :key="index" :class="item.status === 'sent' ? 'messaggio-inviato' : 'messaggio-ricevuto'">
                                <span>{{item.message}}</span>
                            </div>
                    </div>

                    <!-- FOOTER RIGHT -->
                    <div class="content-right-footer">
                        <div class="icon-footer">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="input-footer">
                            <input type="text" placeholder="Scrivi messaggio" v-model="message" @keyup.enter="inviaMessaggio()">
                        </div>
                        <div class="icon-footer">
                            <i class="fa-solid fa-microphone"></i>
                        </div>    
                    </div>
                </div>
                <!-- // CONTENT RIGHT // -->

            </div>
            <!-- // MAIN CONTAINER // -->
        </main>
    </div>
    <!-- // APP // -->

    <script src="script/script.js"></script>
</body>
</html>